In [25]:
import numpy as np
import pandas as pd
from comment import *

In [26]:
df = pd.DataFrame(np.random.randint(6,4), columns=['A','B','C','D'])

ValueError: low >= high

In [27]:
data=np.random.randint(low=0, high=6, size=(6,4))

In [28]:
df = pd.DataFrame(data, columns=['A','B','C','D'])

In [29]:
df

   A  B  C  D
0  5  1  3  0
1  1  1  3  0
2  5  3  5  2
3  0  5  3  1
4  2  5  0  3
5  1  0  3  3

In [30]:
df['time diff']=range(6)

In [31]:
df

   A  B  C  D  time diff
0  5  1  3  0          0
1  1  1  3  0          1
2  5  3  5  2          2
3  0  5  3  1          3
4  2  5  0  3          4
5  1  0  3  3          5

In [32]:
df['time diff']=list(range(2))*3

In [33]:
df

   A  B  C  D  time diff
0  5  1  3  0          0
1  1  1  3  0          1
2  5  3  5  2          0
3  0  5  3  1          1
4  2  5  0  3          0
5  1  0  3  3          1

In [34]:
r1=split_interval(df)

In [35]:
r2=split_interval2(df)

for i in r1: print(i)

In [36]:
for i in r1:print(i);print("\n")

   A  B  C  D  time diff
0  5  1  3  0          0
1  1  1  3  0          1


   A  B  C  D  time diff
0  5  3  5  2          0
1  0  5  3  1          1


   A  B  C  D  time diff
0  2  5  0  3          0
1  1  0  3  3          1

In [37]:
for i in r2:print(i);print("\n")

   A  B  C  D  time diff
0  5  1  3  0          0


   A  B  C  D  time diff
0  1  1  3  0          1
1  5  3  5  2          0


   A  B  C  D  time diff
0  0  5  3  1          1
1  2  5  0  3          0